<div id="music">
  <h1>Music
    <small>My top 20 of all time</small>
  </h1>

  <p>This was actually remarkably difficult. I set off to select the 20 albums that had the largest impact on my life.
    This is what I came up with (in no particular order).</p>

  <ul class="thumbnails">
    <% @albums.each do |album| %>
        <li class="span3">
          <%= link_to image_tag(album['image']), '#', 'rel' => 'popover', 'data-content' => j(album['album']), 'title' => j(album['artist']) %>
        </li>
    <% end %>
  </ul>

</div>

<script type="text/javascript">
    $(function () {
// popover demo
        $("a[rel=popover]")
                .popover()
                .click(function (e) {
                    e.preventDefault()
                });

    });
</script>