<h2>About This Site</h2>
<p>
  Built with some of my favorite technologies
<ul>
  <li>Ruby</li>
  <li>Rails</li>
  <li>jQuery</li>
  <li>Twitter Bootstrap</li>
</ul>
Hosting by <%=link_to image_tag('heroku-logo-small.png'),'http://heroku.com'%>
</p>
<p>
  Want to do something similar, here is the <%=link_to 'source','https://jtushman@github.com/jtushman/resume-rails-twitterbootstrap.git'%>.
</p>