<h2>About This Site</h2>
<p>
  Built with some of my favorite technologies
<ul>
  <li>Ruby</li>
  <li>Rails</li>
  <li>jQuery</li>
  <li>Twitter Bootstrap</li>
</ul>
Hosted on heroku.
</p>
<p>
  Want to do something similar, here is the source, on <%=link_to 'Github','#'%>
</p>